In [1]:
# Step 1: Import pandas
import pandas as pd

In [9]:
# Step 2: Load the CSV file
df = pd.read_csv('customer_data(Sheet1).csv')
df

   ID   NAME  AGE               EMAIL
0   1   Jane   32   janedoe@gmail.com
1   2   John   45   johndoe@gmail.com
2   3   Jill   28   jilldoe@gmail.com
3   4  James   36  jamesdoe@gmail.com

In [13]:
# Step 3: Filter customers over age 30
df[df['AGE'] > 30]

   ID   NAME  AGE               EMAIL
0   1   Jane   32   janedoe@gmail.com
1   2   John   45   johndoe@gmail.com
3   4  James   36  jamesdoe@gmail.com

In [15]:
# Step 4: Count Gmail users
df[df['EMAIL'].str.endswith('@gmail.com')].shape[0]

4

In [17]:
# Step 5: Show summary statistics
df.describe()

             ID        AGE
count  4.000000   4.000000
mean   2.500000  35.250000
std    1.290994   7.274384
min    1.000000  28.000000
25%    1.750000  31.000000
50%    2.500000  34.000000
75%    3.250000  38.250000
max    4.000000  45.000000